/* Base resets and coding styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-family set in App.css for global effect with 'Inter', do not override here */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
